<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ManchesterPIC" value="Manchester Piccadilly"/>
    <add key="LondonBFR" value="London Blackfriars"/>
    <add key="BirminghamMS" value="Birmingham Moor Street"/>
    <add key="ManchesterPostCode" value="M1 1AG"/>
    <add key="LondonPAD" value="London Paddington"/>
  </appSettings>
</configuration>